$color1: #f3c53c;
$color2: #f29c35;
$color3: #b50459;
$color4: #7c0f42;
$color5: #49c1df;
$color6: #1bb2d8;


$colorGray1: #1b1b33;
$colorGray2: #25253c;
$colorGray3: #8d8d99;
$colorGray4: #c6c6cc;
$colorGray5: #ffffff;