@import "./../../../modulos/colors";
@import "./../../../modulos/elementos";
@import "./../../../modulos/fonts";
@import "./../../../modulos/media";
@import "./../../../modulos/mixin";

img{
    width: 100%;
    max-width: 400px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    place-items: center;
}
.input{
    width: 100%;
    margin: 0;
}

.input::placeholder{
    color: $colorGray4;
    font-weight: bold;
    text-align: center;
    font-size: 0.7em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}
.button1{
    color: $colorGray5;
    background: none;
    cursor: none;
    font-size: 1.1rem;
    font-weight: 300;
    svg {
        width: 50px;
        height: 50px;
        border-radius: 15px;
        background: $color1;
        padding: 10px 20px;
    }
}

.button2{
    font-size: 1.3em;
    width: fit-content;
    padding: 10px 20px;
    background: $color1;
    color: $colorGray1;
}

.copy {
display: flex;
align-items: center;

.button3 {
    margin: 10px 0;
    font-size: 1.8em;
    padding: 10px 20px;
    color: $color1;
}

svg {
    padding: 3px;
    height: 35px;
    width: 35px;
    background: $color1;
    border-radius: 10px;
    
}

path {
    fill: $colorGray1;
}
}

