<div class="mainContainer">

    <div class="board">
        <div class="ownCards">
            <span class="nickName">Nick Name</span>
            <div class="flex">
                <div class="avatarContainer">
                    <img class="avatar" src="../../../assets/img/avatars/man1.svg" alt="">
                </div>
        
                <div class="cardsContainer">
                    <div *ngFor="let card of player1">
                        <img class="card" src="../../../assets/img/Programadores/Carlos.svg" alt="">
                    </div>
                </div>
            </div>

            <div class="controls flex">
                <button class="btn button1" (click)="modePanel('question')">Preguntar</button>
                <button class="btn button2" (click)="modePanel('accusation')">Acusar</button>
            </div>
        </div>

        <div class="playerA flex">
            <div class="avatarContainer">
                <img class="avatar" src="../../../assets/img/avatars/man1.svg" alt="">
            </div>

            <div class="cardsPlayers">
                <img class="card" src="../../../assets/img/backCard.svg" alt="">
                <img class="card" src="../../../assets/img/backCard.svg" alt="">
                <img class="card" src="../../../assets/img/backCard.svg" alt="">
                <img class="card" src="../../../assets/img/backCard.svg" alt="">
            </div>
        </div>

        <div class="playerB flex">

            <div class="cardsPlayers">
                <img class="card" src="../../../assets/img/backCard.svg" alt="">
                <img class="card" src="../../../assets/img/backCard.svg" alt="">
                <img class="card" src="../../../assets/img/backCard.svg" alt="">
                <img class="card" src="../../../assets/img/backCard.svg" alt="">
            </div>

            <div class="avatarContainer">
                <img class="avatar" src="../../../assets/img/avatars/man1.svg" alt="">
            </div>
        </div>

        <div class="playerC flex">
            <div class="avatarContainer">
                <img class="avatar" src="../../../assets/img/avatars/man1.svg" alt="">
            </div>

            <div class="cardsPlayers">
                <img class="card" src="../../../assets/img/backCard.svg" alt="">
                <img class="card" src="../../../assets/img/backCard.svg" alt="">
                <img class="card" src="../../../assets/img/backCard.svg" alt="">
                <img class="card" src="../../../assets/img/backCard.svg" alt="">
            </div>
        </div>
            

    </div>
    <div class="Notes" #notes>
        <h2>{{panelTitle}}</h2>
        <div class=" containerflex flex">
            <div class="dev groups flex">
                <h3>Programadores</h3>
                <span (mouseover)="playAudio()" (click)="checkCard('Antonia')">Antonia</span>
                <span (mouseover)="playAudio()" (click)="checkCard('Carolina')">Carolina</span>
                <span (mouseover)="playAudio()" (click)="checkCard('Carlos')">Carlos</span>
                <span (mouseover)="playAudio()" (click)="checkCard('Juan')">Juan</span>
                <span (mouseover)="playAudio()" (click)="checkCard('Juanita')">Juanita</span>
                <span (mouseover)="playAudio()" (click)="checkCard('Manuel')">Manuel</span>
                <span (mouseover)="playAudio()" (click)="checkCard('Pedro')">Pedro</span>
            </div>
    
            <div class="modules groups flex">
                <h3>Módulos</h3>
                <span (mouseover)="playAudio()" (click)="checkCard('Comprobante Contable')">Comprobante Contable</span>
                <span (mouseover)="playAudio()" (click)="checkCard('Contabilidad')">Contabilidad</span>
                <span (mouseover)="playAudio()" (click)="checkCard('Facturación')">Facturación</span>
                <span (mouseover)="playAudio()" (click)="checkCard('Nómina')">Nómina</span>
                <span (mouseover)="playAudio()" (click)="checkCard('Recibos')">Recibos</span>
                <span (mouseover)="playAudio()" (click)="checkCard('Usuarios')">Usuarios</span>
            </div>
    
            <div class="errors groups flex">
                <h3>Errores</h3>
                <span (mouseover)="playAudio()" (click)="checkCard('Encoding error')">Encoding error</span>
                <span (mouseover)="playAudio()" (click)="checkCard('Error 404')">Error 404</span>
                <span (mouseover)="playAudio()" (click)="checkCard('Memory out of range')">Memory out of range</span>
                <span (mouseover)="playAudio()" (click)="checkCard('Null pointer')">Null pointer</span>
                <span (mouseover)="playAudio()" (click)="checkCard('Stack Overflow')">Stack Overflow</span>
                <span (mouseover)="playAudio()" (click)="checkCard('Syntax error')">Syntax error</span>
            </div>
        </div>
        <div class="switch" #arrow (click)="modePanel('page')">
            <div class="arrow"></div>
        </div>
    </div>
</div>