@import "./../../../modulos/colors";
@import "./../../../modulos/elementos";
@import "./../../../modulos/fonts";
@import "./../../../modulos/media";
@import "./../../../modulos/mixin";

.board {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 1300px;
}

.ownCards {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 20px;

  .nickName {
    color: $colorGray5;
    font-family: planet;
    font-weight: 400;
    font-size: 1.7em;
    letter-spacing: 0.5px;
    width: fit-content;
  }

.flex{
  align-items: center;
.avatarContainer{
  background-color: $colorGray5;
  border-radius: 100%;
  padding-top: 10px;
  width: 110px;
  height: 110px;
  clip-path: circle(50% at 50% 50%);
  .avatar {
    width: 100px;
    height: 100px;
  }
}

  .cardsContainer {
    grid-area: cards;
    display: flex;
    gap: 10px;
    .card {
      width: 100%;
    }
  }
}

  .controls{
    width: 100%;
    max-width: 500px;
    justify-content: space-around;

    .button2, .button1{
      font-size: 1.3em;
    }

    .button2{
      background-color: $color3;
    }
  }
}

.playerA, .playerB, .playerC{
  position: absolute;
  top: 40px;
  left: 50%;
  width: 100%;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  padding: 20px;
  gap: 40px;
  .avatarContainer{
    background-color: $colorGray5;
    border-radius: 100%;
    padding-top: 10px;
    width: 80px;
    height: 80px;
    clip-path: circle(50% at 50% 50%);
    .avatar {
      width: 75px;
      height: 75px;
    }
  }
  .cardsPlayers{
    display: flex;
    gap: 10px;
    .card{
      width: 60px;
      margin-left: -15px;
      box-shadow: 0 0 20px #1b1b33;
      border-radius: 8px;
    }
  }
}

.playerB, .playerC{
  top: 45%;
  left: initial;
  right: 0;
  width: fit-content;
  transform: translateY(-50%);
  flex-direction: column;
  align-items: center;
  .avatarContainer{
    .avatar {
      width: 75px;
      height: 75px;
    }
  }

  .cardsPlayers{
    flex-direction: column;
    .card{
      margin: -10px 0;
    }
  }
}

.playerC {
  top: 43%;
  left: 0;
  right: initial;
  max-width: 300px;
  transform: translateY(-50%);
  flex-direction: column;
  align-items: center;
  .avatarContainer{
    .avatar {
      width: 75px;
      height: 75px;
    }
  }

  .cardsPlayers{
    flex-direction: column;
    .card{
      margin: -10px 0;
    }
  }
}

.Notes{
  display: flex;
  gap: 20px;
  position: absolute;
  background-color: $colorGray2;
  padding: 20px;
  justify-content: center;
  top: -440px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 800px;
  border-radius: 0 0 20px 20px;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 0 0 30px $color3;
  h2{
    font-family: planet;
    font-size: 3em;
    font-weight: 500;
    color: $colorGray5;
  }
  .containerflex{
    gap: 30px;
    .groups {
      flex-direction: column;
      gap: 5px;
      padding: 20px;
      padding-left: 0;
      border-radius: 20px;
      height: fit-content;
      span{
        font-size: 1.2em;
        padding: 3px 10px;
        border-radius: 0 55px 55px 0;
        width: fit-content;
        cursor: pointer;
      }
    }
  }

  .switch{
    background-color: $colorGray2;
    position: absolute;
    bottom: -35px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    z-index: -1;
    display: flex;
    cursor: pointer;
    .arrow{
      width: 100%;
      height: 100%;
      background-color: $color2;
      clip-path: path('M 24.772582,37.889498 A 2.8651428,2.8651428 0 0 1 23.488157,37.148022 L 12.944849,26.60465 a 2.8648563,2.8648563 0 0 1 0,-4.051417 2.8648563,2.8648563 0 0 1 4.051702,0 l 8.517457,8.517515 8.517769,-8.517515 a 2.8648563,2.8648563 0 0 1 4.051577,0 2.8648563,2.8648563 0 0 1 0,4.051417 L 27.539859,37.148022 a 2.8651428,2.8651428 0 0 1 -2.767277,0.741476 z');
      animation: arrow 0.4s infinite ease-in-out;
    }
  }
}

.dev{
  h3{
    margin-bottom: 10px;
    color: $color5;
  }
  span{
    background-color: $color5;
  }
  span:hover{
    box-shadow: 0 0 10px $color5;
  }
}

.modules{
  h3{
    margin-bottom: 10px;
    color: $color2;
  }
  span{
    background-color: $color2;
    color: $colorGray1;
  }
  span:hover{
    box-shadow: 0 0 10px $color1;
  }
}

.errors{
  h3{
    margin-bottom: 10px;
    color: $color3;
  }
  span{
    background-color: $color3;
    color: $colorGray5;
  }
  span:hover{
    box-shadow: 0 0 10px $color3;
  }
}

@keyframes arrow {
  0%{
    margin-top: 4px;
  }

  50%{
    margin-top: 0;
  }

  100%{
    margin-top: 4px;
  }
}