<mat-card-content class="mainContainer">
    <img class="logo" src="../../../assets/img/logoBug.svg" alt="">
    

    <form [formGroup]="gameForm" (ngSubmit)="onPlayer()">
     
            <input matInput class="input" type="text" placeholder="Introducir Código de Invitado" 
            formControlName="codPartida" 
            required>

            <input matInput class="input" type="text" placeholder="Escribe tu nombre" 
            formControlName="nickname"
            required>
    
        <button class="btn button2">Unirse ahora</button>
    </form>
</mat-card-content>
