@import "./../../../modulos/colors";
@import "./../../../modulos/elementos";
@import "./../../../modulos/fonts";
@import "./../../../modulos/media";
@import "./../../../modulos/mixin";

.flex{
    justify-content: space-around;
}

.input{
    width: 50%;
}

.input::placeholder{
    color: $colorGray4;
    font-weight: bold;
    text-align: center;
    font-size: 0.7em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}
.button1{
    margin: 70px;
}

.button2{
    font-size: 1.3em;
}